@media screen and (max-width: 676px) {
	.deck {
		width: 100%;
		height: 100%;
		padding: 10px;
	}

	.deck .card {
		width: 21%;
	}

	.deck .card.show {
    	font-size: 25px;
	}

	.modal h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 380px) {
	.score-panel {
		width: 70%;
		font-size: 14px;
	}

	.modal h2 {
		font-size: 18px;
	}

	.modal p, .modal .play-again {
		font-size: 14px;
	}
}